<!-- Formulario principal para realizar un deposito-->
 <div #content appmover class="home_content container">
  <div class="row">
    <div class="deposit-money-container">
      <div class="deposit-money-card">
        <h2>Realizar Depósito - Cuenta {{cuentaADepositar.type}}</h2>
        <form [formGroup]="depositForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="accountNumber">Número de cuenta</label>
            <div class="fomat">{{ cuentaADepositar?.id }}</div>
          </div>
  
          <div class="form-group">
            <label for="amount">Monto a Depositar ($)</label>
            <input type="number" id="amount" formControlName="amount" placeholder="0.00">
          </div>
           <!--Campo para agregar el monto a depositar-->
          <div class="form-group">
            <label for="depositType">Tipo de Depósito</label>
            <select id="depositType" formControlName="depositType"  [(ngModel)]="selectedDepositType">
              <option value="">Seleccione el tipo de depósito</option>
              <option *ngFor="let type of depositTypes" [value]="type">{{type}}</option>
            </select>
          </div>
  
          <div class="form-group">
            <label for="depositorName">Nombre del Depositante</label>
            <div class="fomat">
              {{cuentaADepositar.client?.name}} {{cuentaADepositar.client?.lastname}}
            </div>
          </div>
  
          <div class="form-group">
            <label for="depositorId">ID del Depositante</label>
            <div class="fomat">
              {{cuentaADepositar.client?.id}} 
            </div>
       </div>
          <div class="form-group" *ngIf="selectedDepositType=='Transferencia'">
            <label for="dui">Cliente a depositar</label>
            <div class="input-group">
              <input #dui type="text" id="dui" formControlName="dui" placeholder="Ingrese el dui" (keydown.enter)="getAccountsByDui(dui.value)">
              <i (click)="getAccountsByDui(dui.value)" class='bx bx-search-alt-2'></i>
            </div>
          </div>

          <!-- Dropdown que muestra las cuentas del cliente buscado -->
          <div class="form-group" *ngIf="accountsFiltradas && accountsFiltradas.length > 0">
            <label for="cuentaQueRecibe">Seleccione Cuenta a transferir</label>
            <select
              #cuentaIdEnviar
              id="cuentaQueRecibe"
              formControlName="cuentaQueRecibe"
              (change)="onAccountChange(cuentaIdEnviar.value)"
            >
              <option value="">Seleccione la cuenta</option>
              <option *ngFor="let cuenta of accountsFiltradas" [value]="cuenta.id">
                {{ cuenta.id }}
              </option>
            </select>
          </div>          
  
          <div class="form-group">
            <label for="notes">Notas (opcional)</label>
            <textarea id="notes" formControlName="notes" rows="3"></textarea>
          </div>
  
          <button type="submit" [disabled]="!depositForm.valid || isProcessing">
            {{ isProcessing ? 'Procesando...' : 'Realizar Depósito' }}
          </button>
        </form>
         <!-- Mensaje que indica quese ha efectuado con exito el deposito -->
        <div *ngIf="depositSuccess" class="success-message">
          ¡Depósito realizado con éxito!
          <button (click)="resetForm()">Realizar otro depósito</button>
        </div>
      </div>
    </div>
  </div>
 </div>
