<div class=" home_content d-flex justify-content-center">
  <div #content appmover class="container">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2>Lista de clientes</h2>
          </div>
          <div class="col-sm-6">
            <a href="#modalTipo" class="btn btn-success" data-toggle="modal"
              ><i class="material-icons">&#xE147;</i> <span>Agregar</span></a
            >
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <!--<th>
              <span class="custom-checkbox">
              <input type="checkbox" id="selectAll">
              <label for="selectAll"></label>
              </span>
          </th> -->
            <th>Ver</th>
            <th>N° Cuenta</th>
            <th>Nombre</th>
            <th>Identificacion</th>
            <th>Fecha de afiliación</th>
            <th>Dirección</th>
            <th>Email</th>
            <th>Contacto</th>
            <th>Tipo de cliente</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of client">
            <td>
                <a [routerLink]="['/view-customer', client.id]">
                <i class="material-icons" 
                data-toggle="tooltip" 
                title="Ver" 
                >visibility</i>
              </a>
            </td>   
            <td>{{client.id}}</td>
            <td>{{client.name}} {{client.lastname ? client.lastname: ''}}</td>
            <td>{{client.dui}}</td>
            <td>{{client.birthday | date: 'yyyy-MM-dd'}}</td>
            <td>{{client.address}}</td>
            <td>{{client.email}}</td>
            <td>{{client.phone}}</td>
            <td>{{client.role}}</td>
            <td class="actions" >
              <a href="#editcxModal" 
                  class="edit" 
                  data-toggle="modal"                  
                ><i class="material-icons" 
                    data-toggle="tooltip" 
                    title="Edit"
                    (click)="onSelectOption($event,client.id)"
                  >&#xE254;</i
                ></a
              >
              <a href="#deletecxModal" class="delete" data-toggle="modal"
                ><i class="material-icons" 
                    data-toggle="tooltip" 
                    title="Delete"
                    (click)="onSelectOption($event,client.id)"
                  >&#xE872;</i
                ></a
              >
              <a href="#createAccountModal" class="add" data-toggle="modal"
                ><i class="material-icons" 
                    data-toggle="tooltip" 
                    title="add"
                    (click)="onSelectOption($event,client.id)"
                  ><b>&#xE145;  </b></i
                ></a
              >
            </td>
          </tr>
        </tbody>
      </table>
      <!--         <div class="clearfix">
            <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
              <ul class="pagination">
                  <li class="page-item disabled"><a href="#">Previous</a></li>
                  <li class="page-item"><a href="#" class="page-link">1</a></li>
                  <li class="page-item"><a href="#" class="page-link">2</a></li>
                  <li class="page-item active"><a href="#" class="page-link">3</a></li>
                  <li class="page-item"><a href="#" class="page-link">4</a></li>
                  <li class="page-item"><a href="#" class="page-link">5</a></li>
                  <li class="page-item"><a href="#" class="page-link">Next</a></li>
              </ul>
            </div>
          </div> -->
    </div>
    <!-- Agregar Modal HTML -->
    <!-- Seleccionar tipo de cliente a agregar -->
    <div id="modalTipo" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <form>
            <div class="modal-header">
              <h4 class="modal-title text-center">Agregar nuevo cliente</h4>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                
              >
                &times;
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label>Seleccione tipo de cliente a ingresar</label>
                <div class="dropdown mt-3">
                  <button
                    #dropd
                    class="btn btn-secondary dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Seleccione el tipo de cliente
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a 
                        class="dropdown-item"
                        (click)="clientSend.role = 'Cliente'; updateButtonText('Cliente')"
                        name="client"
                        >Cliente</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item"
                        (click)="clientSend.role = 'Dependiente'; updateButtonText('Dependiente')"
                        name="dependiente"
                        >Dependiente</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Cancelar
              </button>
              <button
                class="btn btn-success"
                data-bs-target="#addcxModal2"
                data-bs-toggle="modal"
                data-dismiss="modal"
              >
                Siguiente
              </button>
              <!--       <input type="submit" class="btn btn-success" data-bs-target="#modalInfoLaboral" data-bs-toggle="modal" value="Siguiente">
     -->
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Modal Información personal -->
    <div id="addcxModal2" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <form>
            <div class="modal-header">
              <h4 class="modal-title">Agregar nuevo {{clientSend.role}}</h4>
              <button
                type="button"
                class="close"
                data-bs-dismiss="modal"
                aria-hidden="true"
              >
                &times;
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label>Nombre</label>
                <input 
                  type="text" 
                  class="form-control" 
                  [(ngModel)]="clientSend.name"
                  name="nombre"
                  required />
              </div>
              <div class="form-group">
                <label>Apellido</label>
                <input 
                  type="text" 
                  class="form-control" 
                  [(ngModel)]="clientSend.lastname"
                  name="lastname"
                  required />
              </div>
              <div class="form-group">
                <label>Identificacion</label>
                <input 
                  type="text" 
                  class="form-control"
                  [(ngModel)]="clientSend.dui"
                  name="dui"
                  required />
              </div>
              <div class="form-group">
                <label>Fecha De Nacimiento</label>
                <input 
                  type="date" 
                  class="form-control" 
                  [(ngModel)]="clientSend.birthday"
                  name="birthday"
                  required />
              </div>
              <div class="form-group">
                <label>Dirección</label>
                <input 
                  type="text" 
                  class="form-control" 
                  [(ngModel)]="clientSend.address"
                  name="address"
                  required />
              </div>
              <div class="form-group">
                <label>Email</label>
                <input 
                  type="email" 
                  class="form-control" 
                  [(ngModel)]="clientSend.email"
                  name="email"
                  required />
              </div>
              <div class="form-group">
                <label>Contacto</label>
                <input 
                  type="text" 
                  class="form-control" 
                  [(ngModel)]="clientSend.phone"
                  name="phone"
                  required />
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Cancelar
              </button>
              <button
                class="btn btn-success"
                data-bs-target="#modalInfoLaboral"
                data-bs-toggle="modal"
                data-bs-dismiss="modal"
              >
                Siguiente
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Modal Información Laboral -->
    <div id="modalInfoLaboral" class="modal fade">
      <div class="modal-dialog">
      <div class="modal-content">
        <form (ngSubmit)="crearClients(clientSend)">
          <div class="modal-header">						
            <h4 class="modal-title">Información Laboral </h4>
            <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">
              <span>&times;</span> 
            </button>
          </div>
          <div class="modal-body">					
            <div class="form-group">
              <label>Lugar de trabajo</label>
              <input 
              type="text" 
              class="form-control" 
              [(ngModel)]="clientSend.work_place"
              name="workplace"
              required>
            </div>
            <div class="form-group">
              <label>Fecha De Inicio</label>
              <input 
              type="date" 
              class="form-control" 
              [(ngModel)]="clientSend.work_start"
              name="inicio"
              required>
            </div>
            <div class="form-group">
              <label>Posición</label>
              <input 
                type="text" 
                class="form-control" 
                [(ngModel)]="clientSend.occupation"
                name="occupation"
                required>
            </div>
            <div class="form-group">
              <label>Email laboral</label>
              <input 
                type="email" 
                class="form-control" 
                [(ngModel)]="clientSend.work_email"
                name="work_email"
                required>
            </div>
            <div class="form-group">
              <label>Contacto</label>
              <input 
                type="text" 
                class="form-control" 
                [(ngModel)]="clientSend.work_phone"
                name="work_phone"
                required>
            </div>
            <div class="form-group">
              <label>Salario</label>
              <input 
                type="number" 
                class="form-control" 
                placeholder="0.00" 
                [(ngModel)]="clientSend.salary"
                name="salary"
                required>
            </div>
            <div class="form-group">
              <label>Limite de crédito</label>
              <input type="number" class="form-control" disabled required>
            </div>						
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
    <!--         <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
     -->        <input type="submit" class="btn btn-success" data-bs-toggle="modal" value="Agregar">
          </div>
        </form>
      </div>
      </div>
    </div>
    <!-- Edit Modal HTML -->
    <div id="editcxModal" class="modal fade" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <form (ngSubmit)="updateClient()">
            <div class="modal-header">
              <h4 class="modal-title">Editar informacion: {{clientSend.name}} {{clientSend.lastname}}</h4>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
              >
                &times;
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label>Nombre</label>
                <input type="text" 
                  class="form-control" 
                  required
                  [(ngModel)]="clientSend.name"
                  name="cliente-edit" />
              </div>
              <div class="form-group">
                <label>Apellido</label>
                <input type="text" 
                  class="form-control" 
                  required
                  [(ngModel)]="clientSend.lastname"
                  name="apellido-edit" />
              </div>
              <div class="form-group">
                <label>Identificacion</label>
                <input 
                  type="text" 
                  class="form-control" 
                  disabled
                  [(ngModel)]="clientSend.dui"
                  name="dui-edit" />
              </div>
              <div class="form-group">
                <label>Fecha De Nacimiento</label>
                <input 
                  type="text" 
                  class="form-control"
                  [value]="clientSend.birthday | date:'dd/MM/yyyy'"
                  name="bd-edit"
                  disabled />
              </div>
              <div class="form-group">
                <label>Dirección</label>
                <input class="form-control" 
                type="text"
                required
                [(ngModel)]="clientSend.address"
                name="address-edit"/>
              </div>
              <div class="form-group">
                <label>Email</label>
                <input 
                  class="form-control" 
                  [(ngModel)]="clientSend.email"
                  name="email-edit"
                  required />
              </div>
              <div class="form-group">
                <label>Celular</label>
                <input 
                  type="text" 
                  class="form-control" 
                  [(ngModel)]="clientSend.phone"
                  name="phone-edit"
                  required />
              </div>
              <div class="form-group">
                <label>Lugar de trabajo</label>
                <input 
                  type="text" 
                  class="form-control" 
                  [(ngModel)]="clientSend.work_place"
                  name="workplace-edit"
                  required />
              </div>
              <div class="form-group">
                <label>Email laboral</label>
                <input 
                  type="text" 
                  class="form-control" 
                  [(ngModel)]="clientSend.work_email"
                  name="work_email-edit"
                  required />
              </div>
              <div class="form-group">
                <label>Contacto laboral</label>
                <input 
                  type="text" 
                  class="form-control" 
                  [(ngModel)]="clientSend.work_phone"
                  name="workphone-edit"
                  required />
              </div>
              <div class="form-group">
                <label>Salario</label>
                <input 
                  type="text" 
                  class="form-control" 
                  [(ngModel)]="clientSend.salary"
                  name="salary-edit"
                  required />
              </div>
            </div>
            <div class="modal-footer">
              <input
                type="button"
                class="btn btn-default"
                data-dismiss="modal"
                value="Cancel"
              />
              <input type="submit" class="btn btn-info" value="Save" />
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Modal crear nueva cuenta -->
    <div id="createAccountModal" class="modal fade" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <form (ngSubmit)="crearCuenta()">
            <div class="modal-header">
              <h4 class="modal-title">Crear cuenta para: {{clientSend.name}} {{clientSend.lastname}}</h4>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
              >
                &times;
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group"
                    (ngModel)="accountSend.client!=null && accountSend.client.dui=clientSend.id; accountSend.client!= null && accountSend.client.birthday=clientSend.birthday">
                <select class="form-select"  
                        [(ngModel)]="accountSend.type"
                        name="accountType"
                        >
                  <option value="" disabled>Seleccione tipo de cuenta</option>
                  <option value="1" 
                     name="Ahorro">Ahorro</option>
                  <option value="2" 
                  name="chequera">Chequera</option>
                </select>
              </div>
              <div class="form-group">
                <label>Balance</label>
                <input type="text" 
                  type="number"
                  class="form-control" 
                  required
                  [(ngModel)]="accountSend.balance"
                  name="apellido-edit" />
              </div>
            </div>
            <div class="modal-footer">
              <input
                type="button"
                class="btn btn-default"
                data-dismiss="modal"
                value="Cancel"
              />
              <input type="submit" class="btn btn-info" value="Crear" />
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Delete Modal HTML -->
    <div id="deletecxModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <form (ngSubmit)="deleteClient()">
            <div class="modal-header">
              <h4 class="modal-title">Desactivar cliente</h4>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-hidden="true"
              >
                &times;
              </button>
            </div>
            <div class="modal-body">
              <p>¿Esta seguro que desea dar de baja a este cliente?</p>
              <p class="text-warning">
                <small
                  >El estado de este cliente será cambiado a desactivado.</small
                >
              </p>
            </div>
            <div class="modal-footer">
              <input
                type="button"
                class="btn btn-default"
                data-dismiss="modal"
                value="Cancelar"
              />
              <input type="submit" class="btn btn-danger" value="Desactivar" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
</div>
