@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
/*   margin: 0; */
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f5f5f5;
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: auto;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 78px;
  background: #11101d;
  padding: 6px 14px;
  transition: all 0.5 ease;
}

.sidebar.active {
  width: 280px;
}
.sidebar.logo_content.logo {
  color: #ffffff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.logo_content i {
  font-size: 28px;
  margin-right: 5px;
}
.logo_content .logo_name {
  font-size: 20px;
  font-weight: 400;
}
.sidebar #btn {
  position: absolute;
  color: #ffffff;
  left: 50%;
  top: 6px;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
}
.sidebar.active #btn {
  left: 90%;
}

.sidebar ul {
  margin-top: 20px;
}
.sidebar ul li {
  position: relative;
  height: 50px;
  width: 100%;
  margin: 0 5px;
  list-style: none;
  line-height: 50px;
}

.sidebar ul li .tooltip {
  position: absolute;
  left: 122px;
  top: 0;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  height: 35px;
  width: 122px;
  background: #ffffff;
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  display: block;
}

.sidebar.active ul li .tooltip {
  display: none;
}

.sidebar ul li:hover .tooltip {
  transition: all 0.5s ease;
  opacity: 1;
  top: 50%;
}

.sidebar ul li input {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 12px;
  outline: none;
  border: none;
  background: #1d1b31;
  padding-left: 50px;
  font-size: 18px;
  color: #ffffff;
}

.sidebar ul li .bx-search {
  position: absolute;
  z-index: 99;
  color: #ffffff;
  font-size: 22px;
  transition: all 0.5s ease;
}

.sidebar ul li .bx-search:hover {
  background: #ffffff;
  color: #1d1b31;
}

.sidebar ul li a {
  color: #ffffff;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  border-radius: 12px;
  white-space: nowrap;
}

.sidebar ul li a:hover {
  color: #11101d;
  background: #ffffff;
}

.sidebar ul li i {
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}

.sidebar .links_name {
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.sidebar.active .links_name {
  opacity: 1;
  pointer-events: auto;
}

.sidebar .profile_content {
  position: absolute;
  color: #ffffff;
  bottom: 0;
  left: 0;
  width: 100%;
}

.sidebar .profile_content .profile {
  position: relative;
  padding: 10px 6px;
  height: 60px;
  background: none;
  transition: all 0.4s ease;
}

.sidebar.active .profile_content .profile {
  background: #1d1b31;
}

.sidebar .profile_content .profile .profile_details {
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
}

.sidebar.active .profile_content .profile .profile_details {
  opacity: 1;
  pointer-events: auto;
}

.sidebar .profile_content .profile .profile_details img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 12px;
}

.sidebar .profile_content .profile .profile_details .name_job {
  margin-left: 10px;
}

.sidebar .profile_content .profile .profile_details .name {
  font-size: 15px;
  font-weight: 400;
}

.sidebar .profile_content .profile .profile_details .job {
  font-size: 12px;
}

.sidebar .profile_content .profile #log_out {
  position: absolute;
  left: 50%;
  bottom: 5px;
  transform: translateX(-50%);
  min-width: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
  text-align: center;
  transition: all 0.4s ease;
  background: #1d1b31;
}

.sidebar.active .profile_content .profile #log_out {
  left: 88%;
  background: none;
}

.home_content {
  position: absolute;
  height: 100%;
  width: calc(100% - 78px);
  left: 78px;
  transition: all 0.5s ease;
}

.home_content .text {
  font-size: 25px;
  font-weight: 500;
  color: #1d1b31;
  margin: 12px;
}

.sidebar.active ~ .home_content {
  width: calc(100% - 280px);
  left: 280px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 60%; /* Para que se posicione justo debajo */
  left: 0;
  background-color: #1d1b31;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0;
  list-style: none;
  width: 200px; /* Ajusta según tus necesidades */
}

/* Estilos para los items del menú desplegable */
.dropdown-menu li {
  padding: 0%;
}

.dropdown-menu li a {
  text-decoration: none;
  color: #333;
  display: block;
}

/* Efecto hover en los items del menú */
.dropdown-menu li a:hover {
  background-color: #333;
}

/* Mostrar el menú cuando se pasa el mouse sobre el item principal */
.nav-item-dropdown:hover .dropdown-menu {
  display: block;
  color: #333;
}

/* Modal styles */

.fade{
  opacity: 100;
}
.modal .modal-dialog {
  margin-top: 5%;

  max-width: 400px;
  
}
.modal .modal-header, .modal .modal-body, .modal .modal-footer {
  padding: 20px 30px;
}
.modal .modal-content {
  border-radius: 3px;
}
.modal .modal-footer {
  background: #ecf0f1;
  border-radius: 0 0 3px 3px;
}
.modal .modal-title {
  display: inline-block;
}
.modal .form-control {
  border-radius: 2px;
  box-shadow: none;
  border-color: #dddddd;
}
.modal textarea.form-control {
  resize: vertical;
}
.modal .btn {
  border-radius: 2px;
  min-width: 100px;
}	
.modal form label {
  font-weight: normal;
}


