<ng-container *ngIf="!isLoginPage">
<div class="sidebar" [class.active]="isSidebarActive">
  <div class="logo_content">
    <div class="logo">
      <!-- -->
      <i class="bx"></i>
      <div class="logo_name"></div>
    </div>
  </div>
  <i #btn class="bx bx-menu" id="btn" (click)="toggleChange()"></i>
  <ul class="nav_list">
    <li>
      <i #bxSearch class="bx bx-search" (click)="toggleChange()"></i>
      <input #buscar type="text" (keydown.enter)="search()" placeholder="Search..." />
      <span class="tooltip">Buscar</span>
    </li>
    <!-- <li>
      <a href="#">
        <i class="bx bx-grid-alt"></i>
        <span class="links_name">Dashboard</span>
      </a>
      <span class="tooltip">Dashboard</span>
    </li> -->
    <li class="nav-item-dropdown" *ngIf="bManager && gManager">
      <a routerLink="/add-customer" routerLinkActive="active">
        <i class="bx bx-plus-circle"></i>
        <span class="links_name">Crear</span>
      </a>
      <span class="tooltip">Crear</span>
      <ul class="dropdown-menu">
        <li>
          <a href="#addcxModal" class="dropdown-item" data-toggle="modal" >
            <i class="bx bx-user"></i>
            <span class="links_name">Nuevo Cliente</span>
          </a>
          <span class="tooltip">Nuevo Cliente</span>
        </li>
        <li>
          <a href="#addDepModal" class="dropdown-item" data-toggle="modal">
            <i class="bx bx-user"></i>
            <span class="links_name">Nuevo Dependiente </span>
          </a>
          <span class="tooltip">Nuevo Dependiente</span>
        </li>
        <!-- Se agregan opciones de menu para cuentas de cliente y datos de transacciones -->
        <li *ngIf="clerkView">
          <a routerLink="/add-account" class="dropdown-item">
            <i class="bx bx-plus-circle"></i>
            <span class="links_name">Nueva Cuenta</span>
          </a>
          <span class="tooltip">Nueva Cuenta</span>
        </li>
        <li *ngIf="clerkView">
          <a routerLink="/view-customer" routerLinkActive="active">
            <i class="bx bx-list-ul"></i>
            <span class="links_name">Ver Movimientos</span>
          </a>
          <span class="tooltip">Ver Movimientos</span>
        </li>
      </ul>
    </li>
    <li *ngIf="bManager &&  gManager">
      <a routerLink="/req-loan" routerLinkActive="active">
        <i class="bx bx-money"></i>
        <span class="links_name">Solicitar préstamo</span>
      </a>
      <span class="tooltip">Solicitar préstamo</span>
    </li>
    <li>
      <a routerLink="/loan-status" routerLinkActive="active">
        <i class="bx bx-shield-alt-2"></i>
        <span class="links_name">Solicitudes</span>
      </a>
      <span class="tooltip">Solicitudes</span>
    </li>
    <li *ngIf="clerkView && gManager">
      <a routerLink="/employeer-branch" routerLinkActive="active">
        <i class='bx bxs-user-detail'></i>
        <span class="links_name">Empleados de sucursal</span>
      </a>
      <span class="tooltip">Empleados de sucursal</span>
    </li>
    <li *ngIf="clerkView && bManager">
      <a routerLink="/employeer-general" routerLinkActive="active">
        <i class='bx bxs-user-detail'></i>
        <span class="links_name">Empleados</span>
      </a>
      <span class="tooltip">Empleados</span>
    </li>
    <li *ngIf="clerkView && gManager">
      <a routerLink="/loan-status-branch" routerLinkActive="active">
        <i class="bx bx-shield-alt-2"></i>
        <span class="links_name">Solicitudes de sucursal</span>
      </a>
      <span class="tooltip">Solicitudes de sucursal</span>
    </li>
    <li *ngIf="clerkView">
      <a routerLink="/branch" routerLinkActive="active">
        <i class='bx bxs-bank'></i>
        <span class="links_name">Sucursales</span>
      </a>
      <span class="tooltip">Sucursales</span>
    </li>
    <li *ngIf="clerkView">
      <a routerLink="/movements-general" routerLinkActive="active">
        <i class='bx bxs-pie-chart-alt-2'></i>
        <span class="links_name">Movimientos</span>
      </a>
      <span class="tooltip">Movimientos</span>
    </li>
    <li class="nav-item-dropdown" *ngIf="bManager && gManager">
      <a routerLink="/actions" routerLinkActive="active">
        <i class="bx bx-money-withdraw"></i>
        <span class="links_name">Acciones </span>
      </a>
      <span class="tooltip">Acciones</span>

      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item" href="#">
            <i class="bx bx-wallet-alt"></i>
            <span class="links_name">Retirar efectivo</span>
          </a>
          <span class="tooltip">Retirar efectivo</span>
        </li>
        <li>
          <a class="dropdown-item" href="#">
            <i class="bx bx-coin-stack"></i>
            <span class="links_name">Depositar efectivo</span>
          </a>
          <span class="tooltip">Depositar efectivo</span>
        </li>
      </ul>
    </li>
    <li>
      <a routerLink="/" routerLinkActive="active">
        <i class="bx bx-cog"></i>
        <span class="links_name">Configuraciones</span>
      </a>
      <span class="tooltip">Configuraciones</span>
    </li>
  </ul>
  <div class="profile_content">
    <div class="profile">
      <div class="profile_details">
        <img
          src="https://lh3.googleusercontent.com/a-/AOh14GjvKOdrR_Z-N4oaIqPg10NRav_6D9tiKWHNFXXftQ=s288-p-rw-no"
          alt=""
        />
        <div class="name_job">
          <div class="name">User Name</div>
          <div class="job">Role</div>
        </div>
      </div>
      <i class="bx bx-log-out" id="log_out"></i>
    </div>
  </div>
</div>

<!-- <div class="home_content">
  <div class="text"></div>
</div> -->
 
</ng-container>
<router-outlet></router-outlet>


<!-- Modal Información personal -->
<div id="addcxModal" class="modal fade">
  <div class="modal-dialog">
  <div class="modal-content">
    <form>
      <div class="modal-header">						
        <h4 class="modal-title">Agregar nuevo <b>cliente</b></h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">					
        <div class="form-group">
          <label>Nombre</label>
          <input type="text" class="form-control" required>
        </div>
        <div class="form-group">
          <label>Identificacion</label>
          <input type="text" class="form-control" required>
        </div>
        <div class="form-group">
          <label>Fecha De Nacimiento</label>
          <input type="text" class="form-control" required>
        </div>
        <div class="form-group">
          <label>Dirección</label>
          <input type="text" class="form-control" required>
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="email" class="form-control" required>
        </div>
        <div class="form-group">
          <label>Contacto</label>
          <input type="text" class="form-control" required>
        </div>					
      </div>
      <div class="modal-footer">
        
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button class="btn btn-success" data-bs-target="#modalInfoLaboral" data-bs-toggle="modal" data-dismiss="modal">Siguiente</button>
  <!--       <input type="submit" class="btn btn-success" data-bs-target="#modalInfoLaboral" data-bs-toggle="modal" value="Siguiente">
   -->    </div>
    </form>
  </div>
  </div>
  </div>
  <!-- Add nuevo dependiente -->
  <div id="addDepModal" class="modal fade">
    <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">						
          <h4 class="modal-title">Agregar nuevo <b>dependiente</b></h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">					
          <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" required>
          </div>
          <div class="form-group">
            <label>Identificacion</label>
            <input type="text" class="form-control" required>
          </div>
          <div class="form-group">
            <label>Fecha De Nacimiento</label>
            <input type="text" class="form-control" required>
          </div>
          <div class="form-group">
            <label>Dirección</label>
            <input type="text" class="form-control" required>
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" required>
          </div>
          <div class="form-group">
            <label>Contacto</label>
            <input type="text" class="form-control" required>
          </div>					
        </div>
        <div class="modal-footer">
          
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button class="btn btn-success" data-bs-target="#modalInfoLaboral" data-bs-toggle="modal" data-dismiss="modal">Siguiente</button>
    <!--       <input type="submit" class="btn btn-success" data-bs-target="#modalInfoLaboral" data-bs-toggle="modal" value="Siguiente">
     -->    </div>
      </form>
    </div>
    </div>
    </div>
  <!-- Modal Información Laboral -->
  <div id="modalInfoLaboral" class="modal fade">
    <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">						
          <h4 class="modal-title">Información Laboral </h4>
          <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">
            <span>&times;</span> 
          </button>
        </div>
        <div class="modal-body">					
          <div class="form-group">
            <label>Lugar de trabajo</label>
            <input type="text" class="form-control" required>
          </div>
          <div class="form-group">
            <label>Dirección de trabajo</label>
            <input type="text" class="form-control" required>
          </div>
          <div class="form-group">
            <label>Fecha De Inicio</label>
            <input type="text" class="form-control" required>
          </div>
          <div class="form-group">
            <label>Posición</label>
            <input type="text" class="form-control" required>
          </div>
          <div class="form-group">
            <label>Email laboral</label>
            <input type="email" class="form-control" required>
          </div>
          <div class="form-group">
            <label>Contacto</label>
            <input type="text" class="form-control" required>
          </div>
          <div class="form-group">
            <label>Salario</label>
            <input type="number" class="form-control" placeholder="0.00" required>
          </div>
          <div class="form-group">
            <label>Limite de crédito</label>
            <input type="number" class="form-control" disabled required>
          </div>						
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
  <!--         <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
   -->        <input type="submit" class="btn btn-success" data-bs-toggle="modal" value="Agregar">
        </div>
      </form>
    </div>
    </div>
    </div>